<nav class="navbar navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <%= link_to "Simple AirBnB", flats_path, class: "navbar-brand" %>
      <div class="d-flex">
<%= form_tag flats_path, :method => 'get', :class => "d-flex" do  %>
  <%= text_field_tag :search, params[:search], :class => "form-control me-2", :style => "margin-right: 10px;" %>
  <%= submit_tag "Search", :class => "btn btn-outline-success btnnav", :style => "margin-right: 10px" %>
    <%= link_to  "Add Flat", new_flat_path, class: "btn btn-outline-primary btnnav", type: "submit" %>
  </div>
  </div>
</nav>




<% end %>
